@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	height:100%;
}
header{
	height:100px;
	background-color:orange;
	color:white;
	text-align:center;
	font-size:2em;
}
nav{
	height:50px;
	background-color:mediumpurple;
}
nav ul li{
	float:left;
	list-style:none;
	width:200px;
	height:50px;
	text-align:center;
	border:1px solid white;
	line-height:300%;
}
section{
	clear:both;
	height:calc(100% - 200px);
}
footer{
	height:50px;
	color:white;
	background-color:skyblue;
	font-size:1.2em;
	text-align:center;
	line-height:225%;
}
.title{
	font-size:2em;
	margin:15px 0;
	text-align:center;
}
.login{
	width:500px;
	height:250px;
	border:1px solid black;
	margin:calc(25% - 125px) auto 0 auto;
}
.login_line{
	margin:15px 0;
	width:300px;
	margin:0 auto;
}
.login_lbl{
	width:100px;
	float:left;
}
.login_btn{
	width:50px;
	height:25px;
	border:1px solid black;
	text-align:center;
	line-height:150%;
	margin: 20px auto;
	font-weight:bold;
}
.login_btn:hover{
	cursor:pointer;
	color:white;
	background-color:black;
	transition:0.7s;
	
}
.schedule_line{
	width:1050px;
	height:100px;
	margin: 0 auto;
}
.schedule_line > div{
	float:left;
}
.schedule_week{
	width:148px;
	height:28px;
	border:1px solid black;
	text-align:center;
	font-weight:bold;
	line-height:175%;
}
.schedule_select{
	width:200px;
	height:50px;
	font-size:2.5em;
	text-align:center;
}
.schedule_btn{
	width:50px;
	height:50px;
	border:1px dashed red;
	font-size:2em;
	text-align:center;
	padding-top:-10px;
}